@charset "UTF-8";

/*
   em HTML id = CSS # (só pode um elemento)
   em HTML class = CSS .(pode vários elementos)
*/
body{
    background-image: linear-gradient( 150deg, #012619, #024b31);
}

h1{
    color: #7cad78;
}

#p{
    text-align: center;
    color: #D9D8D7;
}

h2{
    color: #40593F;
}

.basico{
    color: #43593f;
}

.intermediario{
     color: #59563f;
}

.avancado{
    color: #593f3f;
}

.destaque{
    background-color: #7c8c7b79;
}